.layout-wrapper {
    min-height: 100vh;

    .header {
        height: 60px;
        background-color: $color-header-background;
        box-shadow: $box-shadow-default;
        z-index: 10;
        padding: 5px 20px;
    }

    .sidebar {
        width: 250px;
        background-color: $color-background-secondary;
        flex-shrink: 0;
        box-shadow: $box-shadow-default;
        z-index: 5;
    }

    .nav-item {
        a {
            color: $color-font-default;
            text-decoration: none;
            padding: 10px 20px;
        }

        &.head-nav-item a {
            border-radius: $border-radius-default;
        }

        &.side-nav-item {
            height: 40px;

            a {
                width: "100%";
                display: block;
            }
        }

        a:hover,
        &.active-nav a {
            background-color: $color-background-secondary-hover;
        }

        &.active-nav a {
            color: $color-bright;
        }
    }

    .main-container {
        padding: 40px 30px;
    }
}